mindspore/ccsrc/plugin/device/ascend/kernel/dvm/prebuild/aarch64/libdvm.a filter=lfs diff=lfs merge=lfs -text
mindspore/ccsrc/plugin/device/ascend/kernel/dvm/prebuild/x86_64/libdvm.a filter=lfs diff=lfs merge=lfs -text
mindspore/ccsrc/plugin/device/ascend/kernel/internal/prebuild/x86_64/ms_kernels_internal.tar.gz filter=lfs diff=lfs merge=lfs -text
mindspore/ccsrc/plugin/device/ascend/kernel/internal/prebuild/aarch64/ms_kernels_internal.tar.gz filter=lfs diff=lfs merge=lfs -text
mindspore/ccsrc/plugin/device/ascend/kernel/internal/prebuild/aarch64/ms_kernels_dependency.tar.gz filter=lfs diff=lfs merge=lfs -text
mindspore/ccsrc/plugin/device/ascend/kernel/internal/prebuild/x86_64/ms_kernels_dependency.tar.gz filter=lfs diff=lfs merge=lfs -text
mindspore/ops/kernel/ascend/ascendc/prebuild/x86_64/custom_ascendc.tar.gz filter=lfs diff=lfs merge=lfs -text
mindspore/ops/kernel/ascend/ascendc/prebuild/aarch64/custom_ascendc.tar.gz filter=lfs diff=lfs merge=lfs -text
