# The CODEOWNERS file is used to define the maintainer of a specific file or directory in the code repository.
# Its main purpose is to automatically request designated maintainer to conduct code review in Pull Request (PR),
# in order to clarify code ownership, improve code quality, and accelerate the review process.

# The lines starting with # are comments.
# Each line corresponds to a specified file or directory and maintainer by @ splitting.
# The rules are applied from top to bottom, and the last matching rule will take effect.

# If the file in PR does not match rule, the default maintainer limingqi107 will be designated to conduct code review.
* @limingqi107

# The maintainers of mindspore/ccsrc.
/mindspore/ccsrc/backend/ @limingqi107
/mindspore/ccsrc/backend/ge_backend/dump/ @DavidFFFan
/mindspore/ccsrc/backend/ms_backend/graph_fusion/ @gaoxiong1
/mindspore/ccsrc/cluster/ @zhangyinxia
/mindspore/ccsrc/cmake/ @nicholas_yhr
/mindspore/ccsrc/common/ @limingqi107
/mindspore/ccsrc/common/pynative/ @chujinjin
/mindspore/ccsrc/frontend/ @ginfung
/mindspore/ccsrc/frontend/expander/grad/ @liangchenghui
/mindspore/ccsrc/frontend/operator/meta_dsl/func_op/ @liangchenghui
/mindspore/ccsrc/frontend/np_dtypes/ @changzherui
/mindspore/ccsrc/frontend/parallel/ @yangzhenzhang
/mindspore/ccsrc/include/ @limingqi107
/mindspore/ccsrc/include/backend/distributed/ @zhangyinxia
/mindspore/ccsrc/include/utils/expander/ @gaoxiong1
/mindspore/ccsrc/minddata/ @jonyguo
/mindspore/ccsrc/plugin/ @limingqi107
/mindspore/ccsrc/plugin/ascend/graph_optimizer/gpto/ @zhangzhen
/mindspore/ccsrc/plugin/ascend/graph_optimizer/pass/ir_fusion_infer/ @liulili-huawei
/mindspore/ccsrc/plugin/ascend/profiler/ @tangmengcheng
/mindspore/ccsrc/plugin/ascend/res_manager/error_manager/ @fary86
/mindspore/ccsrc/plugin/ascend/res_manager/mbuf_manager/tensorprint_utils.* @fary86
/mindspore/ccsrc/plugin/ascend/res_manager/mbuf_manager/tensorreport_utils.* @fary86
/mindspore/ccsrc/plugin/ascend/res_manager/collective/ @zhangyinxia
/mindspore/ccsrc/plugin/ascend/stress_detect/ @fary86
/mindspore/ccsrc/plugin/cpu/res_manager/collective/ @zhangyinxia
/mindspore/ccsrc/plugin/cpu/profiler/ @tangmengcheng
/mindspore/ccsrc/plugin/gpu/res_manager/collective/ @zhangyinxia
/mindspore/ccsrc/pybind_api/ @chujinjin
/mindspore/ccsrc/pybind_api/ir/ @ginfung
/mindspore/ccsrc/pybind_api/ir/tensor/ @chujinjin
/mindspore/ccsrc/pybind_api/graph/ @limingqi107
/mindspore/ccsrc/pybind_api/runtime/ @limingqi107
/mindspore/ccsrc/pybind_api/tools/ @fary86
/mindspore/ccsrc/pybind_api/tools/data_dump_py.cc @DavidFFFan
/mindspore/ccsrc/pynative/utils/pyboost/ @chujinjin
/mindspore/ccsrc/pynative/ @chujinjin
/mindspore/ccsrc/runtime/ @limingqi107
/mindspore/ccsrc/runtime/hardware_abstract/kernel_base/graph_fusion/ @gaoxiong1
/mindspore/ccsrc/runtime/hardware_abstract/collective/ @zhangyinxia
/mindspore/ccsrc/runtime/pipeline/ @chujinjin
/mindspore/ccsrc/runtime/pynative/ @chujinjin
/mindspore/ccsrc/tools/ @DavidFFFan
/mindspore/ccsrc/tools/error_handler/ @fary86
/mindspore/ccsrc/utils/ @limingqi107
/mindspore/ccsrc/utils/expander/ @gaoxiong1
/mindspore/ccsrc/utils/ir_dump/ @ginfung
/mindspore/ccsrc/utils/frontend/ @ginfung
/mindspore/ccsrc/utils/symbol_engine/ @ginfung
/mindspore/ccsrc/utils/*tensor*.cc @chujinjin
/mindspore/ccsrc/utils/*utils*.cc @ginfung

# The maintainers of mindspore/core.
/mindspore/core/ @ginfung
/mindspore/core/device_address/ @limingqi107
/mindspore/core/include/device_address/ @limingqi107
/mindspore/core/mindrt/ @limingqi107
/mindspore/core/utils/llm_manager.cc @liulili-huawei

# The maintainers of mindspore/ops.
/mindspore/ops/ @liangchenghui
/mindspore/ops/kernel/ascend/aclop/ @limingqi107
/mindspore/ops/kernel/ascend/acl_ir/ @limingqi107
/mindspore/ops/kernel/ascend/akg/ @gaoxiong1
/mindspore/ops/kernel/ascend/ascendc/ @limingqi107
/mindspore/ops/kernel/ascend/custom/ @limingqi107
/mindspore/ops/kernel/ascend/dvm/ @gaoxiong1
/mindspore/ops/kernel/ascend/hccl/ @zhangyinxia
/mindspore/ops/kernel/ascend/internal/ @liulili-huawei
/mindspore/ops/kernel/ascend/kernel_packet/ @gaoxiong1
/mindspore/ops/kernel/ascend/silent_detect/ @fary86
/mindspore/ops/kernel/ascend/simu/ @limingqi107
/mindspore/ops/kernel/cpu/akg/ @gaoxiong1
/mindspore/ops/kernel/cpu/custom/ @limingqi107
/mindspore/ops/kernel/cpu/dynamic_akg/ @gaoxiong1
/mindspore/ops/kernel/cpu/native/environ/ @limingqi107
/mindspore/ops/kernel/cpu/nnacl/ @YeFeng_24
/mindspore/ops/kernel/cpu/silent_detect/ @fary86
/mindspore/ops/kernel/gpu/akg/ @gaoxiong1
/mindspore/ops/kernel/gpu/control/ @zhangyinxia
/mindspore/ops/kernel/gpu/custom/ @limingqi107
/mindspore/ops/kernel/gpu/data/ @limingqi107
/mindspore/ops/kernel/gpu/debug/ @fary86
/mindspore/ops/kernel/gpu/dynamic_akg/ @gaoxiong1
/mindspore/ops/kernel/gpu/environ/ @limingqi107
/mindspore/ops/kernel/gpu/nccl/ @zhangyinxia
/mindspore/ops/kernel/gpu/silent_detect/ @fary86
/mindspore/ops/kernel/gpu/trt/ @limingqi107
/mindspore/ops/api_def/method_doc/ @gemini524
/mindspore/ops/api_def/function_doc/ @gemini524
/mindspore/ops/op_def/yaml/doc/ @gemini524
/mindspore/ops/op_def/yaml/communication/ @zhangyinxia
/mindspore/ops/infer/ops_func_impl/communication/  @zhangyinxia

# The maintainers of mindspore/python.
/mindspore/python/ @zwiori
/mindspore/python/mindspore/_extends/ @ginfung
/mindspore/python/mindspore/_extends/graph_kernel/ @gaoxiong1
/mindspore/python/mindspore/_extends/parallel_compile/ @gaoxiong1
/mindspore/python/mindspore/_extends/remote/ @gaoxiong1
/mindspore/python/mindspore/boost/ @limingqi107
/mindspore/python/mindspore/common/ @changzherui
/mindspore/python/mindspore/communication/ @zhangyinxia
/mindspore/python/mindspore/custom_compiler/ @limingqi107
/mindspore/python/mindspore/dataset/ @jonyguo
/mindspore/python/mindspore/device_context/ @limingqi107
/mindspore/python/mindspore/graph/ @limingqi107
/mindspore/python/mindspore/hal/ @limingqi107
/mindspore/python/mindspore/mindrecord/ @jonyguo
/mindspore/python/mindspore/mint/ @liangchenghui
/mindspore/python/mindspore/mint/distributed/ @zhangyinxia
/mindspore/python/mindspore/multiprocessing/ @zhangyinxia
/mindspore/python/mindspore/nn/ @changzherui
/mindspore/python/mindspore/nn/grad/ @ginfung
/mindspore/python/mindspore/nn/layer/ @liangchenghui
/mindspore/python/mindspore/nn/layer/container.py @chujinjin
/mindspore/python/mindspore/nn/layer/transformer.py @tanghuikang
/mindspore/python/mindspore/nn/loss/ @zwiori
/mindspore/python/mindspore/nn/optim/ @zwiori
/mindspore/python/mindspore/nn/optim/tft_wrapper.py @fary86
/mindspore/python/mindspore/nn/probability/ @yi-zhang95
/mindspore/python/mindspore/nn/sparse/ @yi-zhang95
/mindspore/python/mindspore/numpy/ @yi-zhang95
/mindspore/python/mindspore/onnx/ @changzherui
/mindspore/python/mindspore/ops/ @liangchenghui
/mindspore/python/mindspore/ops/composite/ @ginfung
/mindspore/python/mindspore/ops_generate/ @chujinjin
/mindspore/python/mindspore/parallel/ @yangzhenzhang
/mindspore/python/mindspore/parallel/cluster/ @zhangyinxia
/mindspore/python/mindspore/profiler/ @tangmengcheng @changzherui
/mindspore/python/mindspore/rewrite/ @changzherui
/mindspore/python/mindspore/runtime/ @limingqi107
/mindspore/python/mindspore/scipy/ @yi-zhang95
/mindspore/python/mindspore/train/ @changzherui
/mindspore/python/mindspore/train/callback/_train_fault_tolerance.py @fary86
/mindspore/python/mindspore/train/callback/_on_request_exit.py @fary86
/mindspore/python/mindspore/utils/utils.py @fary86

# The maintainers of mindspore/include.
/mindspore/include/ @limingqi107

# The maintainers of tests/st.
/tests/st/auto_parallel/ @yangzhenzhang
/tests/st/backend_ascend/ @limingqi107
/tests/st/broadcast/ @yangzhenzhang
/tests/st/compiler/ @ginfung
/tests/st/custom/ops_custom/ @limingqi107
/tests/st/custom/custom_op_builder/kernel_mod/ @limingqi107
/tests/st/custom/custom_op_builder/pyboost/ @chujinjin
/tests/st/container/ @changzherui
/tests/st/cpu_data_parallel/ @zhangyinxia
/tests/st/dataloader/ @jonyguo
/tests/st/dataset/ @jonyguo
/tests/st/mindrecord/ @jonyguo
/tests/st/dataset_helper/ @changzherui
/tests/st/data_transfer/ @jonyguo
/tests/st/dfx/ @fary86
/tests/st/dynamic_shape/ @liangchenghui
/tests/st/export_and_load/ @changzherui
/tests/st/fusion/ @limingqi107
/tests/st/golden_stick/ @liulili-huawei
/tests/st/graceful_exit/ @fary86
/tests/st/graph_kernel/ @gaoxiong1
/tests/st/hal/ @limingqi107
/tests/st/heterogeneous/ @yangzhenzhang
/tests/st/high_availability/ @fary86
/tests/st/hypercomplex/ @yangzhenzhang
/tests/st/infer/ @liulili-huawei
/tests/st/mem_reuse/ @limingqi107
/tests/st/mindscience/ @yi-zhang95
/tests/st/mint/ @liangchenghui
/tests/st/mix_precision/ @changzherui
/tests/st/cluster/ @zhangyinxia
/tests/st/collective_ops/ @zhangyinxia
/tests/st/nn/ @changzherui
/tests/st/nontask_sink/ @zhangyinxia
/tests/st/numpy_native/ @yi-zhang95
/tests/st/offload/ @limingqi107
/tests/st/ops/ @liangchenghui
/tests/st/optimizer/ @changzherui
/tests/st/optimizer_ex/ @changzherui
/tests/st/parameter/ @changzherui
/tests/st/pi_jit/ @ginfung
/tests/st/pynative/ @chujinjin
/tests/st/rewrite/ @changzherui
/tests/st/runtime/ @limingqi107
/tests/st/scipy_st/ @yi-zhang95
/tests/st/scripts/ @nicholas_yhr
/tests/st/sparse/ @yi-zhang95
/tests/st/tensor/ @changzherui
/tests/st/tools/ @DavidFFFan
/tests/st/tools/tre/ @fary86
/tests/st/tools/uce/ @fary86
/tests/st/train/ @changzherui
/tests/st/vmap/ @yi-zhang95

# The maintainers of tests/ut/cpp.
/tests/ut/cpp/backend/ @limingqi107
/tests/ut/cpp/backend/ms_backend/graph_fusion/ @gaoxiong1
/tests/ut/cpp/cluster/ @zhangyinxia
/tests/ut/cpp/common/ @limingqi107
/tests/ut/cpp/common/pynative/ @chujinjin
/tests/ut/cpp/frontend/ @ginfung
/tests/ut/cpp/frontend/np_dtypes/ @changzherui
/tests/ut/cpp/frontend/parallel/ @yangzhenzhang
/tests/ut/cpp/kernel/ @limingqi107
/tests/ut/cpp/minddata/ @jonyguo
/tests/ut/cpp/plugin/ @limingqi107
/tests/ut/cpp/plugin/ascend/graph_optimizer/pass/ir_fusion_infer/ @liulili-huawei
/tests/ut/cpp/pybind_api/ @chujinjin
/tests/ut/cpp/pybind_api/ir/ @ginfung
/tests/ut/cpp/pybind_api/runtime/ @limingqi107
/tests/ut/cpp/pybind_api/tools/ @DavidFFFan
/tests/ut/cpp/pyboost/ @chujinjin
/tests/ut/cpp/pynative/ @chujinjin
/tests/ut/cpp/runtime/ @limingqi107
/tests/ut/cpp/runtime/pipeline/ @chujinjin
/tests/ut/cpp/runtime/pynative/ @chujinjin
/tests/ut/cpp/tools/ @DavidFFFan
/tests/ut/cpp/tools/error_handle/ @fary86
/tests/ut/cpp/utils/ @limingqi107
/tests/ut/cpp/utils/expander/ @gaoxiong1
/tests/ut/cpp/utils/ir_dump/ @ginfung
/tests/ut/cpp/utils/symbol_engine/ @ginfung
/tests/ut/cpp/utils/*tensor*.cc @chujinjin
/tests/ut/cpp/utils/*utils*.cc @ginfung
/tests/ut/cpp/mindir/ @ginfung
/tests/ut/cpp/ops/ @liangchenghui

# The maintainers of tests/ut/python.
/tests/ut/data/dataset/ @jonyguo
/tests/ut/data/mindrecord/ @jonyguo
/tests/ut/python/mindjit/ @ginfung
/tests/ut/python/_extends/ @ginfung
/tests/ut/python/_extends/graph_kernel/ @gaoxiong1
/tests/ut/python/_extends/parallel_compile/ @gaoxiong1
/tests/ut/python/_extends/remote/ @gaoxiong1
/tests/ut/python/boost/ @limingqi107
/tests/ut/python/common/ @changzherui
/tests/ut/python/communication/ @zhangyinxia
/tests/ut/python/custom_compiler/ @limingqi107
/tests/ut/python/dataset/ @jonyguo
/tests/ut/python/device_context/ @limingqi107
/tests/ut/python/hal/ @limingqi107
/tests/ut/python/mindrecord/ @jonyguo
/tests/ut/python/mint/ @liangchenghui
/tests/ut/python/multiprocessing/ @zhangyinxia
/tests/ut/python/nn/ @changzherui
/tests/ut/python/nn/grad/ @ginfung
/tests/ut/python/nn/layer/ @liangchenghui
/tests/ut/python/nn/loss/ @zwiori
/tests/ut/python/nn/optim/ @zwiori
/tests/ut/python/nn/probability/ @yi-zhang95
/tests/ut/python/nn/sparse/ @yi-zhang95
/tests/ut/python/numpy/ @yi-zhang95
/tests/ut/python/onnx/ @changzherui
/tests/ut/python/ops/ @liangchenghui
/tests/ut/python/ops_generate/ @chujinjin
/tests/ut/python/parallel/ @yangzhenzhang
/tests/ut/python/profiler/ @tangmengcheng @changzherui
/tests/ut/python/rewrite/ @changzherui
/tests/ut/python/runtime/ @limingqi107
/tests/ut/python/scipy/ @yi-zhang95
/tests/ut/python/train/ @changzherui
/tests/ut/python/ops/composite/ @ginfung

# The maintainers of other code directories.
/.gitee/ @limingqi107
/.jenkins/ @nicholas_yhr
/cmake/ @nicholas_yhr
/cmake/external_libs/ @tronzhang
/docs/ @gemini524
/include/ @jjfeing
/metadef/ @nicholas_yhr
/scripts/ @nicholas_yhr
/third_party/  @tronzhang
/.gitmodules  @tronzhang
/.gitignore @limingqi107
/.gitattributes @limingqi107
/.clangformat @limingqi107
/requirements.txt  @tronzhang
/setup.py  @tronzhang
/Third_Party_Open_Source_Software_Notice  @tronzhang
