* @baochong @limingqi107

/include/ @yefeng

# The maintainers of mindspore/ccsrc.
/mindspore/ccsrc/backend/ @limingqi107
/mindspore/ccsrc/backend/common/graph_kernel/ @gaoxiong1
/mindspore/ccsrc/cluster/ @ZPaC @zhangyinxia
/mindspore/ccsrc/cmake/ @nicholas_yhr
/mindspore/ccsrc/common/ @limingqi107
/mindspore/ccsrc/common/pynative/ @chujinjin
/mindspore/ccsrc/frontend/ @ginfung
/mindspore/ccsrc/frontend/parallel/ @yangzhenzhang @yao_yf
/mindspore/ccsrc/include/ @limingqi107
/mindspore/ccsrc/include/utils/expander @gaoxiong1
/mindspore/ccsrc/kernel/ @limingqi107
/mindspore/ccsrc/minddata/ @jonyguo
/mindspore/ccsrc/plugin/ @limingqi107
/mindspore/ccsrc/pybind_api/ @chujinjin
/mindspore/ccsrc/pybind_api/ir/ @ginfung
/mindspore/ccsrc/pybind_api/runtime/ @limingqi107
/mindspore/ccsrc/pybind_api/tools/ @DavidFFFan
/mindspore/ccsrc/pyboost/ @chujinjin
/mindspore/ccsrc/pynative/ @chujinjin
/mindspore/ccsrc/runtime/ @limingqi107
/mindspore/ccsrc/runtime/pipeline/ @chujinjin
/mindspore/ccsrc/runtime/pynative/ @chujinjin
/mindspore/ccsrc/tools/ @DavidFFFan
/mindspore/ccsrc/tools/error_handle @fary86
/mindspore/ccsrc/utils/ @limingqi107
/mindspore/ccsrc/utils/expander/ @gaoxiong1
/mindspore/ccsrc/utils/ir_dump/ @ginfung
/mindspore/ccsrc/utils/symbol_engine/ @ginfung

# The maintainers of mindspore/core.
/mindspore/core/ @ginfung

# The maintainers of mindspore/ops.
/mindspore/ops/ @liangchenghui

# The maintainers of mindspore/python.
/mindspore/python/ @zwiori
/mindspore/python/mindspore/_extends/ @ginfung
/mindspore/python/mindspore/common/ @changzherui
/mindspore/python/mindspore/communication/ @ZPaC @zhangyinxia
/mindspore/python/mindspore/dataset/ @jonyguo
/mindspore/python/mindspore/device_context/ @limingqi107
/mindspore/python/mindspore/hal/ @limingqi107
/mindspore/python/mindspore/mindrecord/ @jonyguo
/mindspore/python/mindspore/mint/ @liangchenghui
/mindspore/python/mindspore/multiprocessing/ @ZPaC @zhangyinxia
/mindspore/python/mindspore/nn/ @zwiori
/mindspore/python/mindspore/numpy/ @yi-zhang95
/mindspore/python/mindspore/onnx/ @changzherui
/mindspore/python/mindspore/ops/ @liangchenghui
/mindspore/python/mindspore/ops_generate/ @liangchenghui
/mindspore/python/mindspore/parallel/ @yangzhenzhang @yao_yf
/mindspore/python/mindspore/profiler/ @DavidFFFan
/mindspore/python/mindspore/rewrite/ @changzherui
/mindspore/python/mindspore/runtime/ @limingqi107
/mindspore/python/mindspore/scipy/ @yi-zhang95
/mindspore/python/mindspore/train/ @changzherui

